@use './variables';
@use './mixins';

body {
    font-family: variables.$font-raleway;
    font-weight: 400;

}

h1,h2, h3, h4, h5, h6 {
    font-family: variables.$font-raleway;
    font-style: normal;

} 

p {
    font-family: variables.$font-raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


}