@use './variables';

@mixin btn-techTalent() {
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 150px;
    height: 40px;
    letter-spacing: .5px;
    margin-bottom: 10px;
    
   
    &.contained{
        background-color: variables.$brown-800 ;
        color: variables.$white-100;
        &:hover {
            background-color: variables.$brown-900;
        }           
        &:active {
           background-color: variables.$red-900; 
        }
    }
     
    &.outlined {
        background-color: variables.$white-100;
        color: variables.$dark-900;
        border: 1px solid variables.$brown-800;
        font-weight: 600;

        &:hover {
            border-color: variables.$brown-900;
        }

        &:active {
            border-color: variables.$red-900;
        }
    }


}
@mixin responsive($breakpoint) {
    @if($breakpoint == variables.$small) {
        @media screen and (min-width: variables.$small) {
            @content;
        }
    }
    @if($breakpoint == variables.$medium) {
        @media screen and (min-width: variables.$medium) {
            @content;
        }
    }
    @if($breakpoint == variables.$large) {
        @media screen and (min-width: variables.$large) {
            @content;
        }
    }
    @if($breakpoint == variables.$extra-large) {
        @media screen and (min-width: variables.$extra-large) {
            @content;
        }
    }
    @if($breakpoint == variables.$extra-extra-large) {
        @media screen and (min-width: variables.$extra-extra-large) {
            @content;
        }
    }
    @if($breakpoint == variables.$extra-4k) {
        @media screen and (min-width: variables.$extra-4k) {
            @content;
        }
    }
}

//aca van los brakepoints