//primary colors
$brown-900: #C87B4D;
$brown-700: #F5CC6A;
$brown-800: #F2994A;
$brown-600: #F0D3B5;
//Secondary colors
$dark-900: #221413;
$green-900: #1C543C;
$red-900:  #9A2E34;
$white-100:  #FFFFFF;


//fonts styles

$font-raleway: 'Raleway', sans-serif;

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;


